@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500&display=swap");

:root {
  --main-bg: #fafafa;
  --main-color: #e89d95;
  --body: #00000000;
  --main-hover: #fdb7c1;
  --nav-bar: #e7e7e7;

  --contactform: #c4c4c480;
  --contactform-text: #fafafa;
  --button-color: #fed3cb;
  --text: #252525;

  --nav-bar-h1: #393939;
  --h1: #393939;
  --h4: #efc5bd;
  --h6: #b4b4b4;

  --drop-shadow: #fdb7c180;
  --drop-shadow-h6: #531212b3;

  --white: #ffffff;
  --gray: #c4c4c480;

  --box: #c4c4c480;
  --dot: #bbb;
  --dot-active: #717171;

  --footer: #292c2f;
  --footer-white: #f5f5f5;
  --footer-icons: #b194a8;
  --footer-name: #8f9296;
  --footer-link: #5383d3;
  --footer-about: #92999f;
}

[data-theme="dark"] {
  --main-bg: #1b1b1b;
  --main-color: #f3a39b;
  --body: #00000000;
  --main-hover: #d399a2;
  --nav-bar: #363636;

  --contactform: #74747480;
  --contactform-text: #74747490;
  --button-color: #c39a92;
  --text: #dddddd;

  --drop-shadow: #fdb7c180;
  --drop-shadow-h6: #531212b3;

  --nav-bar-h1: #d4d4d4;
  --h1: #d4d4d4;
  --h4: #efc5bd;
  --h6: #fafafa;

  --white: #b1b1b1;
  --gray: #c4c4c480;

  --box: #74747480;
  --dot: #bbb;
  --dot-active: #717171;

  --theme-btn: #74747480;
  --theme-btn-bg: #fafafa;

  --footer: #292c2f;
  --footer-white: #dddddd;
  --footer-icons: #b194a8;
  --footer-name: #8f9296;
  --footer-link: #5383d3;
  --footer-about: #92999f;
}

/* Image filter */
.bg-image,
.break {
  filter: brightness(0.65) contrast(1.5);
}

/* base setup */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: var(--text);
}
html {
  scroll-behavior: smooth;
}
.container {
  background-color: var(--main-bg);
}
a {
  transition: all 0.5s ease;
}
section {
  padding-top: 10px;
}
#home {
  padding-top: 0%;
}
.active {
  color: var(--main-color) !important;
}

/* button and srollbar */

.fixedbtn {
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 1%;
  z-index: 10;
}
.theme-switch {
  display: inline-block;
  height: 2.1rem;
  position: relative;
  width: 3rem;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(0.8rem);
}

.slider.round {
  border-radius: 5rem;
}

.slider.round:before {
  border-radius: 50%;
}

/* Scrollbar */
html::-webkit-scrollbar {
  width: 14px;
}
html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-clip: content-box;
  box-shadow: inset 0 0 0 10px;
}
html::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
html::-webkit-scrollbar-corner {
  background-color: transparent;
}
html {
  overflow: overlay;
  color: var(--body);
  transition: color 0.3s;
}
html:hover {
  color: var(--main-hover);
  color: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, #fab3bb),
    color-stop(0.72, #f2a9aa),
    color-stop(0.86, #eba19c)
  );
}
html::-webkit-scrollbar-track {
  display: none;
}
html::-webkit-scrollbar-track-piece {
  display: none;
}

/* header setup */

.bg-image {
  background-image: url(../photos/background.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
}
.stranger h1 {
  font-size: 70px;
  z-index: 2;
  font-weight: 400;
  text-align: center;
  color: var(--h1);
  filter: drop-shadow(0px 3px 2px var(--drop-shadow));
  padding: 30px 15px 30px 15px;
  border-radius: 50px;
}
h6 {
  font-size: 30px;
  text-align: center;
  color: var(--h6);
  font-weight: 300;
  filter: drop-shadow(0px 2px 1px var(--drop-shadow-h6));
  padding: 3px;
  border-radius: 100px;
}

.header div.read-more {
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translate(-50%, 0);
}
.header div.stranger {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header div.arrow {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.anchor {
  color: var(--gray);
}
.header svg:hover {
  width: 65px;
  height: 70px;
  transform: rotate3d(1, 0, 0, 20deg);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

/* Topbar */
.topbar {
  top: 5%;
  display: flex;
  justify-content: right;
  position: absolute;
  right: 5%;
}
.topbar a {
  text-decoration: none;
  color: var(--text);
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  padding: 0.15em;
}
.topbar a:hover {
  color: var(--main-hover);
}
.topbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}
.topbar li {
  float: right;
  display: block;
  padding: 8px;
}

/* Navbar */
#navbar {
  background-color: var(--nav-bar);
  position: fixed;
  top: -125px;
  width: 100%;
  transition: top 1.2s;
  justify-content: space-between;
  overflow: hidden;
  display: flex;
  z-index: 10;
}
#navbar a {
  display: block;
  float: right;
  color: var(--text);
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}
#navbar a:hover {
  color: var(--main-color);
}
#navbar ul {
  list-style-type: none;
  margin: 0 3% 0 0;
  padding: 0;
  display: flex;
  gap: 30px;
  align-items: center;
  vertical-align: top;
}
#navbar li {
  float: right;
  display: block;
}
#navbar h1 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  color: var(--nav-bar-h1);
  float: left;
  padding: 8px;
  filter: drop-shadow(0px 3px 2px var(--drop-shadow));
}
#navbar .icon {
  display: none;
  font-size: 15px;
}
#logo {
  margin-left: 2%;
}

/* Abous Us */
#AboutUs {
  height: auto;
  width: 100%;
  background-color: var(--main-bg);
  justify-content: center;
  z-index: 1;
}
#AboutUs h2 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-align: center;
  color: var(--h1);
}
.aboutcontact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}
.box {
  border: 2px;
  background-color: var(--box);
  border-color: var(--main-hover);
  border-style: groove;
  max-width: 40%;
  margin-left: 3%;
  padding: 2rem;
  margin-bottom: 4rem;
}
.whoarewe h4 {
  font-size: 30px;
  font-weight: 400;
}
.whoarewe {
  margin-bottom: 2rem;
}
.whoweare {
  max-width: 95%;
  font-size: 16px;
}
/* Slideshow */
.mySlides {
  display: none;
}
.slideimg {
  vertical-align: middle;
  width: 100%;
  background-color: var(--gray);
  border-radius: 100%;
}
.slideshow {
  max-width: 50%;
  height: auto;
  position: relative;
  margin: auto;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: var(--white);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 15px;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 15px;
}
.prev:hover,
.next:hover {
  background-color: var(--text);
  border-radius: 30px;
  opacity: 0.5;
}
.text {
  color: var(--main-bg);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: var(--white);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--dot);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.box .active,
.dot:hover {
  background-color: var(--dot-active);
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* contact us */
.contactus {
  margin-right: 3%;
  width: 45%;
  display: block;
}
.contactus h3 {
  color: var(--text);
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
  padding-bottom: 1.5rem;
}
.contactform {
  background-color: var(--contactform);
  width: 75%;
  height: 38rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  justify-content: center;
}

.js-scroll {
  opacity: 0;
  transition: opacity 50ms;
}
.js-scroll.scrolled {
  opacity: 1;
}
.scrolled.slide-right {
  animation: slide-in-right 0.8s ease-in-out both;
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/* Contact form*/
form {
  justify-content: center;
  width: 100%;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--dot);
  border-radius: 4px;
  resize: vertical;
  font-size: 16px;
  background-color: var(--contactform-text);
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 20px;
}

input[type="submit"] {
  background-color: var(--button-color);
  color: var(--white);
  padding: 10px 40px;
  border: none;
  font-size: 20px;
  border-radius: 15px;
  cursor: pointer;
  float: right;
  margin-top: 1rem;
  margin-right: 3rem;
}

input[type="submit"]:hover {
  background-color: var(--main-hover);
  transition: all 0.5s ease;
}

/* .col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
} */
/* Break */
.break {
  background-image: url(../photos/break.jpg);
  background-size: cover;
  height: 250px;
  width: 100%;
}

/* Spacer */
.spacer {
  height: 4.5rem;
  position: relative;
  background-color: var(--main-bg);
}

/* Products */
#Products {
  height: auto;
  width: 100%;
  color: var(--white);
  justify-content: center;
}
.products {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}
.ourProducts {
  width: 450px;
  height: 850px;
  margin-top: 1.5em;
  margin-right: 6%;
  padding: 2em;
  text-align: center;
  position: relative;
}
.ourProducts::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../photos/our_services.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(50%);
}
.ourProductscontent {
  position: relative;
}
.ourProductscontent h4 {
  color: var(--h4);
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 4rem;
  margin-top: 8rem;
}
.ourProducts p {
  text-align: left;
  color: var(--white);
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 5rem;
}
.ourProducts .button {
  background-color: var(--button-color);
  border: none;
  border-radius: 100px;
  padding: 6%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}
.ourProducts .button:hover {
  background-color: var(--main-hover);
  transition: all 0.5s ease;
}
.show {
  width: 65%;
  display: grid;
  margin-top: 2em;
  margin-left: 3%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}
.show .product {
  width: 100%;
  height: 100%;
  background-color: var(--dot-active);
}

/* Reviews */
#Reviews {
  background-color: var(--main-bg);
  height: 100vh;
}

.Reviews h1 {
  font-size: 130px;
  text-align: center;
}

/* Footer css */
footer {
  bottom: 0;
}
.footer {
  background-color: var(--footer);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}
.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}
.footer .footer-left {
  width: 40%;
}
.footer h3 {
  font-size: 36px;
  margin: 0;
  font-weight: 500;
  filter: drop-shadow(0px 3px 2px var(--drop-shadow));
  color: var(--footer-white);
}
.footer .footer-links {
  color: var(--footer-white);
  margin: 20px 0 12px;
  padding: 0;
}
.footer .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}
.footer .footer-name {
  color: var(--footer-name);
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.footer .footer-center {
  width: 35%;
}
.footer .footer-spacer {
  margin-top: 5px;
}
.footer .footer-center i {
  background-color: var(--footer-icons);
  color: var(--white);
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}
.footer .footer-center p {
  display: inline-block;
  color: var(--white);
  vertical-align: middle;
  font-weight: normal;
  margin: 0;
}
.footer .footer-center p span {
  display: block;
  color: var(--white);
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
.footer .footer-center p a {
  color: var(--footer-link);
  text-decoration: none;
}
.footer .footer-right {
  width: 20%;
}
.footer .footer-about {
  line-height: 20px;
  color: var(--footer-about);
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.footer .footer-about span {
  display: block;
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer .footer-icons {
  margin-top: 25px;
}
.footer .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: var(--footer-icons);
  border-radius: 2px;

  font-size: 20px;
  color: var(--white);
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}
.footer .footer-icons i {
  color: var(--white);
}

/* Responsive */
@media screen and (max-width: 880px) {
  .footer {
    font: bold 14px sans-serif;
  }

  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer .footer-center i {
    margin-left: 0;
  }
}

@media screen and (max-width: 800px) {
  #navbar h1 {
    font-size: 30px;
  }
  #logo {
    margin-left: 2px;
  }
  #navbar ul {
    gap: 22px;
  }
  .aboutcontact {
    display: block;
    margin: 0 auto 20px auto;
  }
  .box {
    max-width: 95%;
    margin: auto;
    margin-bottom: 30px;
  }
  .contactus {
    width: 100%;
    margin-bottom: 50px;
  }
  .contactform {
    width: 85%;
  }
  .dot {
    width: 12px;
    height: 12px;
  }
  .topbar a {
    font-size: 20px;
  }
}

@media screen and (max-width: 665px) {
  #navbar li:not(:first-child) {
    display: none;
  }
  #navbar li.icon {
    float: right;
    display: block;
  }
  #navbar h1 {
    font-size: 20px;
  }
  #logo {
    margin-left: 2px;
  }
  #navbar a.icon {
    font-size: 13px;
  }
}

@media screen and (max-width: 665px) {
  #navbar.responsive {
    display: flex;
    position: fixed;
  }
  #navbar.responsive .icon {
    position: relative;
  }
  #navbar.responsive li {
    float: right;
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  #navbar.responsive ul {
    gap: 10px;
    margin: 0 5px 0 0;
  }
  #navbar.responsive a {
    font-size: 16px;
  }
  #navbar.responsive h1 {
    font-size: 18px;
    padding: 4px 2px;
    width: 120px;
  }
  .topbar {
    top: 4%;
  }
  .header a {
    font-size: 16px;
  }
  .topbar ul {
    gap: 5px;
  }
  #logo {
    margin-left: 5px;
  }
}

@media screen and (max-width: 450px) {
  .topbar ul {
    gap: 1px !important;
  }
  #navbar ul {
    gap: 5px !important;
  }
  #navbar.responsive a {
    font-size: 14px !important;
  }
  #navbar.responsive h1 {
    font-size: 16px !important;
    width: 100px !important;
  }
  #navbar.responsive {
    width: 100%;
  }
  #logo {
    margin-left: 0% !important;
  }
}
h1 {
  font-size: 150px;
  text-align: center;
}
