/* Break */
.break {
  background-image: url(../../../assets/images/break.jpg);
  background-size: cover;
  height: 250px;
  width: 100%;
}

/* Spacer */
.spacer {
  height: 4.5rem;
  position: relative;
  background-color: var(--main-bg);
}
