:root {
  --main-bg: #ebebec;
  --secondary-bg: #c2c2c2;
  --main-color: #e89d95;
  --body: #00000000;
  --main-hover: #fdb7c1;
  --nav-bar: #dadade;

  --contactform: #ccccce80;
  --contactform-text: #fafafa;
  --button-color: #fbc9bf;
  --button-color-projects: #fbc9bf;
  --projects-white: #e2e2e2;
  --text: #252525;

  --nav-bar-h1: #393939;
  --h1: #393939;
  --h4: #e0b3aa;
  --h6: #b4b4b4;

  --drop-shadow: #fdb7c180;
  --drop-shadow-h6: #531212b3;

  --white: #f5f5f5;
  --gray: #c4c4c480;

  --box: #ccccce80;
  --dot: #bbb;
  --dot-active: #717171;

  --footer-text-primary: #a5a9af;
  --footer-text-secondary: #f5f5f5;
  --footer-bg: #292c2f;
  --footer-icon: #b194a8;
}

[data-theme="dark"] {
  --main-bg: #1b1b1f;
  --secondary-bg: #2e2e35;
  --main-color: #f3a39b;
  --body: #00000000;
  --main-hover: #d399a2;
  --nav-bar: #363636;

  --contactform: #74747b80;
  --contactform-text: #74747490;
  --button-color: #dbaea4;
  --button-color-projects: #cc978bd7;
  --projects-white: #e2e2e2;
  --text: #dddddd;

  --drop-shadow: #fdb7c180;
  --drop-shadow-h6: #531212b3;

  --nav-bar-h1: #d4d4d4;
  --h1: #d4d4d4;
  --h4: #efc5bd;
  --h6: #fafafa;

  --white: #b1b1b1;
  --gray: #c4c4c480;

  --box: #74747b80;
  --dot: #bbb;
  --dot-active: #717171;

  --theme-btn: #74747480;
  --theme-btn-bg: #fafafa;

  --footer-bg: #20232a;
  --footer-text-primary: #afb4b9;
  --footer-text-secondary: #dddddd;
  --footer-icon: #b194a8;
}
