.article {
    display: inline-block;
    background-color: var(--main-bg);
    border-radius: 25px 25px 0 0;
}

@media only screen and ( min-width: 1440px ){
    .article {
        padding: 60px;
        border-radius: 50px 50px 0 0;
    }
}
