/* Scrollbar */
::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border: none;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--main-hover);
}
::-webkit-scrollbar-thumb:active {
    background: #000000;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active,
::-webkit-scrollbar-corner {
    background: transparent;
    border: none;
}

html {
    overflow: overlay;
}


