/* Abous Us */
#AboutUs {
  height: auto;
  width: 100%;
  background-color: var(--main-bg);
  justify-content: center;
  z-index: 1;
}
#AboutUs h2 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-align: center;
  color: var(--h1);
}
.aboutcontact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}
.box {
  border: 5px;
  background-color: var(--box);
  border-color: var(--main-hover);
  border-style: groove;
  max-width: 40%;
  margin-left: 3%;
  padding: 2rem;
  margin-bottom: 4rem;
}
.whoarewe h4 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}
.whoarewe {
  margin-bottom: 2rem;
}
.whoweare {
  max-width: 98%;
  font-size: 16px;
  line-height: 2rem;
}
/* Slideshow */
.slideshow {
  max-width: 50%;
  height: auto;
  position: relative;
  margin: auto;
}

.mylogo {
  vertical-align: middle;
  width: 100%;
  border-radius: 100%;
  filter: brightness(85%) saturate(150%);
}

/* contact us */
.contactus {
  margin-right: 3%;
  width: 45%;
  display: block;
}
.contactus h3 {
  color: var(--text);
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
  padding-bottom: 1.5rem;
}
.contactform {
  background-color: var(--contactform);
  width: 75%;
  height: 38rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  justify-content: center;
  border: 5px;
  border-color: var(--main-hover);
  border-style: groove;
}

.js-scroll {
  opacity: 0;
  transition: opacity 50ms;
}
.js-scroll.scrolled {
  opacity: 1;
}
.scrolled.slide-right {
  animation: slide-in-right 0.8s ease-in-out both;
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/* Contact form*/
form {
  justify-content: center;
  width: 100%;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--dot);
  border-radius: 4px;
  resize: vertical;
  font-size: 16px;
  background-color: var(--contactform-text);
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 20px;
}

input[type="submit"] {
  background-color: var(--button-color);
  padding: 10px 40px;
  border: none;
  font-size: 20px;
  border-radius: 15px;
  cursor: pointer;
  float: right;
  margin-top: 1rem;
  margin-right: 3rem;
}

input[type="submit"]:hover {
  background-color: var(--main-hover);
  transition: all 0.5s ease;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
