/* Reviews */
#School {
  background-color: var(--secondary-bg);
  height: 100vh;
}
#School .spacer {
  background-color: var(--secondary-bg);
}
.school h2 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-top: 2.5rem;
  margin-bottom: 3rem;
  text-align: center;
  color: var(--h1);
}

.middle {
  border-left: 3px solid var(--text);
  height: 40rem;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 10;
}
