/*!* base setup *!*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
/*section {*/
/*  padding-top: 10px;*/
/*}*/
/*#header {*/
/*  padding-top: 0%;*/
/*}*/
/*.active {*/
/*  color: var(--main-color) !important;*/
/*}*/

/*!* button and srollbar *!*/

/*.fixedbtn {*/
/*  position: fixed;*/
/*  bottom: 1.5vh;*/
/*  left: 1.5vw;*/
/*  padding: 0.5%;*/
/*  z-index: 10;*/
/*  align-items: center;*/
/*}*/
/*.fixedbtn p {*/
/*  color: var(--footer-text-secondary);*/
/*}*/
/*.center {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*}*/
/*!* Image filter *!*/

/*.break {*/
/*  filter: brightness(0.65) contrast(1.5);*/
/*}*/



body {
  background-image: url("../../assets/images/backgroundv2.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
}

.content {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}

@media only screen and (min-width: 1440px){
  .content {
    padding: 20px;
  }
}
