@media screen and (max-width: 1550px) {
  .post5,
  .post6 {
    display: none;
  }

  .show {
    width: 60vw;
    margin-top: 2em;
    margin-left: 1rem;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
}

@media screen and (max-width: 1250px) {
  .post3,
  .post4 {
    display: none;
  }
  .show {
    width: 50vw;
    margin-top: 2em;
    margin-left: 1rem;
    grid-template-columns: 1fr;
    gap: 1em;
  }
}

@media screen and (max-width: 1000px) {
  #navbar h1 {
    font-size: 30px;
    text-align: center;
    margin: auto;
  }
  #navbar ul {
    gap: 22px;
  }
  .aboutcontact {
    display: block;
    margin: 0 auto 20px auto;
  }
  .box {
    max-width: 95%;
    margin: auto;
    margin-bottom: 30px;
  }
  .contactus {
    width: 100%;
    margin-bottom: 50px;
  }
  .contactform {
    width: 85%;
  }
  input[type="submit"] {
    margin-top: 2rem;
    float: left;
  }
  .dot {
    width: 12px;
    height: 12px;
  }
  .topbar a {
    font-size: 20px;
  }

  .ourProducts {
    width: 80vw;
    height: 1000px;
  }

  .ourProducts p {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 10rem;
  }

  .footer {
    font: bold 14px sans-serif;
  }

  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer .footer-center i {
    margin-left: 0;
  }
  .products {
    display: block;
    margin: 0 auto 20px auto;
  }
  .ourProducts {
    max-width: 95%;
    margin: auto;
    margin-bottom: 30px;
  }
  .show {
    display: none;
  }
}

@media screen and (max-width: 665px) {
  #navbar li:not(:first-child) {
    display: none;
  }
  #navbar li.icon {
    float: right;
    display: block;
  }
  #navbar a.icon {
    font-size: 13px;
  }
}

@media screen and (max-width: 550px) {
  .topbar {
    top: 4%;
  }
  .header a {
    font-size: 16px;
  }
  .topbar ul {
    gap: 5px;
  }
  #logo {
    margin-left: 5px;
  }
}

@media screen and (max-width: 450px) {
  .topbar ul {
    gap: 1px !important;
  }
  #navbar ul {
    gap: 5px !important;
  }
}
